* {
    box-sizing: border-box;
}

.container {
    max-width: 600px;
    width: 100%;
    padding: 40px;
    border-radius: 8px;
    display: flex;
    justify-content: center;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
}

.wrapper {
    width: 360px;
    margin: 0 auto;
}

.form {
    display: flex;
    flex-direction: column;
}

label,
legend {
    color: rgb(46, 47, 66);
    font-family: Montserrat;
    letter-spacing: 0.04em;
}

input[name="delay"] {
    width: 100%;
    height: 40px;
    margin-top: 8px;
    border: 1px solid rgb(128, 128, 128);
    border-radius: 4px;
}

fieldset {
    margin-top: 16px;
    border: 1px solid rgb(128, 128, 128);
    border-radius: 4px;
}

.radio {
    display: flex;
    justify-content: space-around;
}

button {
    margin-top: 24px;
    height: 40px;
    border-radius: 8px;
    border: none;
    background: rgb(78, 117, 255);
    color: rgb(255, 255, 255);
    font-family: Montserrat;
    font-weight: 500;
    size: 16px;
    letter-spacing: 0.04em;
    cursor: pointer;
}